# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/investmentdb?schema=public"

# generate token JWT secret
SECRET=1e7611720582fd571c8fd322e8fc92e29dec864c4706ab09bc8a458cab1ceaa0

# redis connection
REDIS_HOST=redis
REDIS_PORT=6379

# email sender API Token
SENDGRID_API_KEY="YOUR API KEY GOES HERE"
# email sender Host, Single Sender Verification
MAIL_HOST="YOUR MAIl GOES HERE"